/*! footer */
#footer {
    width: 100%;
	.footer__menu{	
		height: 70px;
		background-color: #555555	;
		.nav{
  		width: 80%;
  			.text__jp{
  				border-left: 3px solid green;
  				height: 30px;
  				width: 130px;
  				color: white;
  				background: black;
  				box-sizing: border-box;
  				.touch{
  					width: 130px;
  					height: 30px;
            &:hover{
              background:green;
            }
  				}
  			}
  		}
  	}
  	.footer__content{
  			height: auto;
  		background:black;
        li:hover{
          background: green;
        }
  			.text__jp{
  				padding-top: 150px;
  				color: white;
  				font-size: 16px;
  			}
  			.nav{
  				width: 600px;
  				padding-top: 20px;
  				color: white;
  			}
  			.img__footer{
  				padding-top: 20px;
  				display: flex;
  				justify-content: space-between;
  				width: 140px;
  				.img{
  					width: 30px;
  					height: 30px;
  					border-radius: 20px;
  				}
  			}
  			.telephone__jp{
  				padding-top: 20px;
  				width: 100%;
  				.name__jp__left, .name__jp__right{

  					width: 47%;
  					.left, .right{
  						.name{
  							height: 16px;
	  						color: white;
	  						font-size: 16px;
	  						max-width: 100%;
  						}
  						.telephone{
	  						max-width: 100%;;
	  						color: white;
	  						font-size: 25px;
  						}	
  					}
  				}
  			}
  			.copyright{
  				padding-top: 50px;
  				.textbox{
  					color: white;
  					font-size: 16px;
  				}
  			}
  			.footer__end{
  				padding-top: 110px;
  				width: 100%;
  				.textbox{
  					color: white;
  					padding-left: 25px;
  					text-decoration: underline;
  					}
  				}
  			}
  		}
/*! footer end */
